// Variable overrides

// Z-index master list
// Fix primeng dialog z-index issue
$zindex-dropdown:                   900 !default;
$zindex-sticky:                     920 !default;
$zindex-fixed:                      930 !default;
$zindex-modal-backdrop:             940 !default;
$zindex-modal:                      950 !default;
$zindex-popover:                    960 !default;
$zindex-tooltip:                    970 !default;

$navbar-brand-width:                100px;

$link-color:                      #007ad9 !default;
$link-hover-color:                #116fbf !default;

// Clarity design
$clr-forms-focused-color:         #0092d1;
$clr-btn-primary-box-shadow-color:#0092d1;
