<div class="d-flex" style="min-height: calc(100vh - 55px);">
  <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 p-sm-0 px-4 mx-auto my-5">
    <div class="card mb-0">
      <div class="card-body p-5">
        <form (ngSubmit)="onSubmit()" novalidate>
          <h4 class="mb-5">{{ 'Identifier of connection' | translate }}</h4>
          <div class="mb-5">
            <div class="text-muted">
              {{ 'If you would like to create an account or if you have any connection problems, contact your correspondant in Bouygues Construction.' | translate }}
            </div>
          </div>
          <div class="text-right">
            <button pButton type="submit" [label]="'Next' | translate" class="clr ui-button-primary"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
