<app-header [navbarBrandRouterLink]="['/']" [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.png', width: 80, height: 40, alt: 'Demo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/logo_30-30.png', width: 30, height: 30, alt: 'Demo'}"
  [sidebarToggler]="'lg'" [asideMenuToggler]="false" [mobileAsideMenuToggler]="false">
  <ul class="nav navbar-nav ml-auto mr-2">
    <li>
      <p-dropdown (onChange)="useLanguage($event)" [options]="langs" [(ngModel)]="currentLang" styleClass="lang mr-2">
      </p-dropdown>
    </li>
    <li>
      <button class="btn btn-link px-0 mx-2">
        <i class="c-icon cil-user"></i>
        <span *ngIf="!mobileQuery.matches" class="ml-1">{{ authenticationUser.name }}</span>
      </button>
    </li>
    <li>
      <button (click)="onLogout()" [title]="'Logout' | translate" class="btn btn-link logout px-0 mx-1"><i
          class="c-icon cil-power-standby"></i></button>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav #sidebarNav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized">
    </app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <div [perfectScrollbar] class="position-relative">
      <!-- Breadcrumb -->
      <app-breadcrumb>
        <li class="breadcrumb-menu">
          <ng-container [ngSwitch]="activatedComponent">
            <ng-container *ngSwitchCase="'CustomerComponent'">
              <button (click)="create()" pButton type="button" icon="c-icon cil-plus" [label]="'Create' | translate"
                [title]="'Create a new customer' | translate" class="clr clr-sm ml-2"></button>
              <button (click)="export('xlsx')" pButton type="button" icon="c-icon cil-cloud-download"
                [label]="'Export (.xlsx)' | translate" [title]="'Export the list of customers' | translate"
                class="clr clr-sm ml-2"></button>
              <button (click)="export('pdf')" pButton type="button" icon="c-icon cil-cloud-download"
                [label]="'Export (.pdf)' | translate" [title]="'Export the list of customers' | translate"
                class="clr clr-sm ml-2"></button>
            </ng-container>
          </ng-container>
        </li>
      </app-breadcrumb>
      <!-- Breadcrumb Menu-->
      <div class="container-fluid">
        <router-outlet (activate)="onActive($event)"></router-outlet>
      </div>
    </div>
  </main>
</div>
<app-footer [fixed]="true">
  <div class="d-flex flex-grow-1 justify-content-between">
    <span title="{{environment.version}}"><a href="#">DEMO</a> &copy; 2020 PA.</span>
  </div>
</app-footer>
<p-confirmDialog #cd icon="c-icon cil-warning">
  <p-footer>
    <div class="d-flex flex-column flex-sm-row justify-content-sm-end">
      <button pButton type="button" icon="c-icon cil-x" [label]="'No' | translate" (click)="cd.reject()"
        class="clr mb-2 mb-sm-0 mr-0 mr-sm-2"></button>
      <button pButton type="button" icon="c-icon cil-check-alt" [label]="'Yes' | translate" (click)="cd.accept()"
        class="clr ui-button-primary"></button>
    </div>
  </p-footer>
</p-confirmDialog>
<ngx-spinner bdColor="rgba(151,151,151,0.2)" size="default" color="rgba(232,91,44,0.9)" type="ball-8bits"
  [fullScreen]="true"></ngx-spinner>
